.header-styling {
    background-color: #fccb46b8;
}

.header-div {
    display: flex;
    justify-content: space-between;
}

.fa-check {
    color: green;
    margin-right: .1em;
}
.checktext p {
    font-size: smaller;
    margin-right: 1em;
}

.header-styling .nav-link {
    color: #232D4D;
    font-weight: bold;
    font-size: 14px;
    /* margin: 0 auto; */
}