.header-styling {
    background-color: #232d4d;
    justify-content: space-between;
    border-bottom: 2px solid #fccb468b;
    align-items: center;
    padding-inline: 3rem;
    /* padding-top: 1rem;
    max-height: 2rem; */
}

.header-div {
    display: flex;
    justify-content: center;
}
.header-div .nav-link {
    color: #fcca46;
}

.header-div2 {
    display: flex;
    justify-content: center;
}
.header-div2 .nav-link {
    color: #ffffff;
    cursor: pointer;
}
.header-div2 .nav-link:hover {
    color: #fcca46;
}
.header-div2 .nav-link:active {
    color: #A1C181;
}

.fa-check {
    color: green;
    margin-right: .1em;
}

.header-styling .nav-link {
    font-weight: bold;
    font-size: 12px;
    /* margin: 0 auto; */
}