
.dropdown-knapp {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #A1C181;
}

.navbar-meny {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 1rem;
}
.navbar {
    justify-content: left;
}

.navbar-meny .dropdown-knapp {
    margin-right: 2rem;
}
.logga {
    color: #232d4d;
}
.sökruta {
    display: flex;
    background-color: #a1c18133;
    color: #A1C181;
    border-radius: 3rem;
    border: 1px solid #a1c1815a;
    align-items: center;
    padding-left: .8rem;
    max-width: 75%;
    margin: 0 auto;
}
.magnifying-glass {
    color: #FCCA46;
}

.fa-shopping-cart {
    color: #232d4de1;
    font-size: larger;
}
.bg-egencolor {
    background-color: #FE7F2D;
    font-size: 11px;
}

.shoppingcart-icon {
    margin-right: 1rem;
}

.under-links li {
    color: #619B8A;
    cursor: pointer;
}
.under-links li:hover {
    color: #FE7F2D;
}