.wrapper {
  display: flex;
  margin-bottom: 10px;
}

.one {
  display: flex;
  width: 100%;
  height: 9.5rem;
  box-shadow: -2px 3px 7px 0px #8888886a;
  border-radius: 0.5rem;
  padding: 24px;

  align-items: center;
}

.wrapper button {
  position: relative;
  display: inline-block;
}

.wrapper-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

.image {
  flex-basis: 150px;
  text-align: center;
}

.image img {
  height: 100px;
}

.wrapper-info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.wrapper-info p {
  margin: 0px;
}

.two {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px;
  align-items: center;
}

.kod input {
  height: 48px;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  padding: 0px 16px;
  width: 100%;
  border-radius: 4px;
  font: inherit;
  transition: border-color 75ms ease 0s;
}

.kod {
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
}

.kod button {
  width: 130px;
  height: 40px;
  border-radius: 99em;
  background: #233d4d;
  color: rgb(255, 255, 255);
  border: none;
}

.box-left {
  box-shadow: -2px 3px 7px 0px #8888886a;
  border-radius: 0.5rem;
  padding: 15px;
  width: 100%;
}

.member {
  background-color: rgba(252, 203, 70, 0.661);
}

.space {
  display: flex;
  justify-content: space-between;
}

.space p {
  margin-bottom: 5px;
}

.checkout button {
  background: rgb(19, 170, 19);
  color: #fff;
  border: none;
  border-radius: 99em;
  width: 100%;
  height: 40px;
  margin-top: 5px;
}
