.Shopping-cart {
  min-width: 550px;
}
.Shopping-cart .cart-img-container {
  max-width: 60px;
  height: 100%;
  margin: auto;
}
.Shopping-cart .cart-img-container img {
  max-height: 70px;
  min-width: 70px;
  object-fit: contain;
} 
.horisontal-line {
  min-height: 90px;
  margin: auto;
  color: #233D4D;
}

.Cart-select select {
  width: 60px;
  height: 33px;
}
