* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row>* {
  padding: 0;
}

.product {
  color: #000;
}

.product-card {
  transition: all ease 200ms;
}

.product-card.card {
  padding-top: 1rem;
  /* width: 300px; */
  height: 500px;
  border-radius: 0;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: none;
}

.product-card .card-img-top {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.product:hover .product-card {
  color: #000;
  background-color: #0000000c;
}

.card-body h4 {
  color: #FE7F2D;
}

.filter-products {
  width: 100%;
}

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1055;
  background-color: #0000006b;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  justify-content: flex-end;
}

.Modal .modal-dialog {
  position: relative;
  width: 40%;
  height: 100vh;
  margin: 0 !important;
  pointer-events: none;
}

.Modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px transparent;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: 0;
}


.gradient-custom-signUp {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 193, 129, 1), rgba(97, 155, 138, 1));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 193, 129, 1), rgba(97, 155, 138, 1));
    }



.bg-image .img-fluid {
  width: 40%;
}

    .login-link {
      color: #4f9983 ;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }

    .sprit-titel {
      font-weight: 600;
      font-size: 30px;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 1rem;
      color: #232d4de2;
    }
    .TillAllaProdukter .fa-left-long {
      font-size: medium;
      color: #fe812d85;
    }
    .TillAllaProdukter {
      color: #fe812dcb;
      font-weight: lighter;
    }
    .Product-details .product-image-container {
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .Product-details .product-image-container img {
      max-width: 160px;
      max-height: 300px;
      object-fit: contain;
    }
    
.adminrubrik {
  font-weight: bolder;
  color: #FE7F2D;
}