.gradient-custom-signUp {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 193, 129, 1), rgba(97, 155, 138, 1));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 193, 129, 1), rgba(97, 155, 138, 1));
    }