* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  padding: 0;
}
.product {
  color: #000;
}

.product-card {
  transition: all ease 200ms;
}
.product-card.card {
  padding-top: 1rem;
  /* width: 300px; */
  height: 500px;
  border-radius: 0;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: none;
}

.product-card .card-img-top {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.product:hover .product-card {
  color: #000;
  background-color: #0000000c;
}

.card-body h4 {
  color: #FE7F2D;
}
