* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row>* {
  padding: 0;
}

.product {
  color: #000;
}

.product-card {
  transition: all ease 200ms;
}

.product-card.card {
  padding-top: 1rem;
  /* width: 300px; */
  height: 500px;
  border-radius: 0;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: none;
}

.product-card .card-img-top {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.product:hover .product-card {
  color: #000;
  background-color: #0000000c;
}

.card-body h4 {
  color: #FE7F2D;
}

.filter-products {
  width: 100%;
}

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1055;
  background-color: #0000006b ;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  justify-content: end;
}

.Modal .modal-dialog {
  position: relative;
  width: 40%;
  height: 100vh;
  margin: 0 !important;
  pointer-events: none;
}

.Modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px transparent;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: 0;
}